@media screen and (min-width: 760px) {

/*                                    _____________________  
/*====================================    Containers layout 
*/

    main {
        width: calc(456.24px + 32.2vw);
        height: 200px;
    }
    .actions-container {
        display: inline-block; 
        width: 38.04%;        
    }
    .storage-container {
        display: inline-block;        
        width: 58.16%;
        max-width: initial;
        margin-left: 3.8%;
        margin-top: 0;
        vertical-align: bottom;
    }

    .bubble {              
        width: 179px;
        height: 92px;
        border-bottom: solid 21px;        
        top: min(-47px, calc(4.853vw - 116.88px)); /*-47px*/
        left: unset;
        right: 36px;
    }

/*                                  End of Containers Layout
/*==========================================================*/

/*                                    ____________________
/*====================================        Inner layout
*/

    .storage-container {
        padding: 40px 39px;
    }

    .storage-warning {
        margin: 0;
    }

    .meter {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
        
    .storage-label {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    .bubble {    
        border-bottom-color: blue;
    }

/*                                       End of Inner layout  
/*==========================================================*/

}