@media screen and (min-width: 760px) {

/*                                    _____________________  
/*====================================    Containers layout 
*/

    .main-container {
        width: calc(456.24px + 32.2vw);
        height: 200px;
    }

    .actions-container {
        display: inline-block; 
        width: 38.04%;        
    }

    .storage-container {
        display: inline-block;        
        width: 58.16%;
        max-width: initial;
        margin-left: 3.8%;
        margin-top: 0;
        vertical-align: bottom;
    }

    .bubble-container {
        width: 179px;
        height: 92px;
        top: min(-47px, calc(3.38vw - 95.69px)); /*-47px*/
        left: unset;
        right: 36px;
    }
/*                                  End of Containers Layout
/*==========================================================*/

/*                                    ____________________
/*====================================        Inner layout
*/

    .storage-container {
        padding: 40px 39px;
    }

    .storage-warning {
        margin: 0;
    }

    .meter {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
        
    .storage-label {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .bubble-container {
        border-bottom: solid 21px hsl(228, 50%, 35%);
        border-right: solid 21px white;
        border-bottom-right-radius: 0;
    }

    .background-image {
        top: 47.5%;
        height: 52.5%;
        background-size: cover;
        background-image: url("../images/bg-desktop.svg");
    }
/*                                       End of Inner layout  
/*==========================================================*/

}