
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: inherit;*/
}

html {
  font-family: raleway, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: darkgray;
}

.attribution {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
/*                                    _____________________  
/*====================================    Containers layout 
*/

main {
    position: relative;
    width: 100vw;
    height: 178vw;
}

.main-container {
    width: 86.67%;
    padding-top: calc(65.14px + 15.9vw);
    padding-bottom: calc(116.6px + 13.4vw);
    margin-left: auto;
    margin-right: auto;
    /*z-index: 1;*/
}

.actions-container {
    width: 325px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px 100px 10px 10px;
}

.storage-container {
    height: 156px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.bubble-container {
    position: absolute;
    width: 179px;
    height: 71px;
    top: calc(100% - 35px);
    left: calc(50% - 89px);
}

.bubble {
    width: 179px;
    height: 71px;
    text-transform: uppercase;
}
/*                                  End of Containers Layout
/*==========================================================*/

/*                                    ____________________
/*====================================        Inner layout
*/

.main-container {    
    z-index: 1;
}

.actions-container {
    padding: 40px;
    background-color: hsl(228, 50%, 35%);
}

.logo {    
    background-image: url("../images/logo.svg");
    background-size: contain;
    width: 135px;
    height: 40px;

}

.buttons-container {
    margin-top: 33px;
}

.action {
    display: inline-block;
    margin-left: 13px;
    width: 48px;
    height: 48px;
    object-fit: fill;    
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}

.add-document {
    margin-left: 0;
    padding: 12px 14px 12px 14px;
}

.add-folder {
    padding: 14px 12px 14px 12px;
}

.upload-file {
    padding: 16px 12px 16px 12px;
}

.storage-container {
    position: relative;
    padding: 32px 0;
    background-color: hsl(228, 50%, 35%);
    color: hsl(243, 100%, 93%);
}

.storage-warning {
    margin: 0 auto;
    width: 232px;
}

.storage-warning > span {
    font-weight: bold;
}

.meter {
    width: 80.3%;
    height: 18px;
    margin: 16px auto 0 auto;
    background-color: hsl(228, 56%, 26%);
    border-radius: 9px;
    padding: 2px;
}

.inner-gauge {
    position: relative;
    padding-top: 2px;
    padding-right: 2px;
    width: 75%;
    height: 100%;    
    border-radius: 7px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.gauge-ball {
    float: right;
    width: 10px;
    height: 10px;
    top: 10px;
    border-radius: 7px;
    background-color: white;
}

.storage-label {
    width: 81.23%;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 9px auto 0 auto;
}

.storage-label > span {
    display: inline-block;
    width: 50%;
}

.storage-label > span:last-child {
    text-align: right;
}

.bubble-container {
    border-radius: 11px;
}

.bubble {    
    padding-left: 24px;
    /*border-right-color: white;      */
    vertical-align: middle;
    line-height: 73px;
    border-radius: 11px;
    background-color: white;
    font-weight: bold;
}

.bubble > span:first-child {
    font-size: 2.8rem;
    color: black;
}

.bubble > span:last-child {
    position: relative;
    font-size: 0.85rem;
    letter-spacing: 1px;
    top: -8px;
    left: 12px;
    color: hsl(229, 7%, 55%);
}

.background-color {
    position: absolute;
    background-color: hsl(228, 56%, 26%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-image: url("../images/bg-mobile.svg");
    width: 100%;
    height: 100%;
    z-index: -1;
}

.attribution {
    background-color: lightgray;
}

/*                                       End of Inner layout  
/*==========================================================*/