
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: inherit;
}

html {
  font-family: raleway, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: darkgray;
}


.attribution {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
/*                                    _____________________  
/*====================================    Containers layout 
*/

main {
    width: 86.67%;
    margin: calc(65.14px + 15.9vw) auto calc(116.6px + 13.4vw) auto;

    outline: solid 1px green;
}

.actions-container {
    width: 325px;
    height: 200px;
    margin: 0 auto;    

    outline: solid 1px white;
}

.storage-container {
    height: 155px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0 auto;

    outline: solid 1px white;
}
/*                                  End of Containers Layout
/*==========================================================*/

/*                                    ____________________
/*====================================        Inner layout
*/

.actions-container {
    padding: 40px;
}

.logo {    
    background-image: url("../images/logo.svg");
    background-size: contain;
    width: 135px;
    height: 40px;

}

.buttons-container {
    margin-top: 33px;
}

.action {
    display: inline-block;
    margin-left: 13px;
    width: 48px;
    height: 48px;
    object-fit: fill;    

}

.add-document {
    margin-left: 0;
    padding: 12px 14px 12px 14px;
}

.add-folder {
    padding: 14px 12px 14px 12px;
}

.upload-file {
    padding: 16px 12px 16px 12px;
}

.storage-container {
    position: relative;
    padding: 32px 0;
}

.storage-warning {
    margin: 0 auto;
    width: 232px;
}

.meter {
    width: 261px;
    height: 18px;
    margin: 17px auto 0 auto;    
}

.storage-label {
    width: 264px;
    font-size: 0.9rem;
    margin: 8px auto 0 auto;
}

.storage-label > span {
    display: inline-block;
    width: 50%;
}

.storage-label > span:last-child {
    text-align: right;
}

.bubble {
    position: absolute;
    width: 182px;
    top: 100%;
    left: calc(50% - 182px / 2);
}

/*                                       End of Inner layout  
/*==========================================================*/