
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.attribution {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: raleway, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: darkgray;
}

.actions-container {
    display: inline-block;
    vertical-align: top;
    width: calc(316.2px + 2.35vw);
    height: 200px;

    outline: solid 1px white;
}

.storage-container {
    display: inline-block;
    vertical-align: top;
    width: calc(250px + 20vw);
    height: 155px;
    outline: solid 1px white;
}

.logo {
    background-image: url("../images/logo.svg");
    background-size: contain;
    width: 100px;
    height: 29.6px;
}

.meter:after {
    content: "Used 815 GB";
    width: 200px;
    height: 200px;
}